<?js
    var self = this;
    docs.forEach(function(doc, i) {
?>

<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
    <?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else if (doc.kind === 'source') { ?>
    <?js= self.partial('source.tmpl', doc) ?>
<?js } else { ?>

<section>

<header>
    <h3>
		<?js if (doc.ancestors && doc.ancestors.length) { ?>
        	<span class="ancestors"><?js= doc.ancestors.join('') ?></span>
	    <?js } ?>
    	<?js= doc.name ?>
	    <?js if (doc.variation) { ?>
    	    <sup class="variation"><?js= doc.variation ?></sup>
	    <?js } ?>
	</h3>
    <?js if (doc.classdesc) { ?>
        <div class="class-description"><?js= doc.classdesc ?></div>
    <?js } ?>
</header>

<article>
    <div class="container-overview">
    <?js if (doc.kind === 'module' && doc.module) { ?>
        <?js= self.partial('method.tmpl', doc.module) ?>
    <?js } ?>

    <?js if (doc.kind === 'class') { ?>
        <?js= self.partial('method.tmpl', doc) ?>
    <?js } else { ?>
        <?js if (doc.description) { ?>
            <div class="description"><?js= doc.description ?></div>
        <?js } ?>

        <?js= self.partial('details.tmpl', doc) ?>

        <?js if (doc.examples && doc.examples.length) { ?>
            <h3>Example<?js= doc.examples.length > 1? 's':'' ?></h3>
            <?js= self.partial('examples.tmpl', doc.examples) ?>
        <?js } ?>
    <?js } ?>
    </div>

    <?js if (doc.augments && doc.augments.length) { ?>
        <h3 class="subsection-title">Extends</h3>

        <ul><?js doc.augments.forEach(function(a) { ?>
            <li><?js= self.linkto(a, a) ?></li>
        <?js }); ?></ul>
    <?js } ?>

    <?js if (doc.mixes && doc.mixes.length) { ?>
        <h3 class="subsection-title">Mixes In</h3>

        <ul><?js doc.mixes.forEach(function(a) { ?>
            <li><?js= self.linkto(a, a) ?></li>
        <?js }); ?></ul>
    <?js } ?>

    <?js if (doc.requires && doc.requires.length) { ?>
        <h3 class="subsection-title">Requires</h3>

        <ul><?js doc.requires.forEach(function(r) { ?>
            <li><?js= self.linkto(r, r) ?></li>
        <?js }); ?></ul>
    <?js } ?>

    <?js
        var classes = self.find({kind: 'class', memberof: doc.longname});
		var showClasses = doc.kind !== 'globalobj' && classes && classes.length;

        var namespaces = self.find({kind: 'namespace', memberof: doc.longname});
		var showNamespaces = doc.kind !== 'globalobj' && namespaces && namespaces.length;

        var members = self.find({kind: 'member', memberof: title === 'Global' ? {isUndefined: true} : doc.longname});
		var showMembers = members && members.length && members.forEach;

        var methods = self.find({kind: 'function', memberof: title === 'Global' ? {isUndefined: true} : doc.longname});
		var showMethods = methods && methods.length && methods.forEach;

        var typedefs = self.find({kind: 'typedef', memberof: title === 'Global' ? {isUndefined: true} : doc.longname});
		var showTypedefs = typedefs && typedefs.length && typedefs.forEach;
        
		var events = self.find({kind: 'event', memberof: title === 'Global' ? {isUndefined: true} : doc.longname});
		var showEvents = events && events.length && events.forEach;
	?>


	<?js if( showClasses || showNamespaces || showMembers || showMethods || showTypedefs || showEvents) { ?>
	<nav class="toc">
		<h3>Table of contents</h3>
		<?js
			if (showClasses) {
		?>
			<div class="toc-section">
				<h4 class="subsection-title">Classes</h4>

				<dl><?js classes.forEach(function(c) { ?>
					<dt class="name"><?js= self.linkto(c.longname, c.name) ?></dt>
					<dd><?js if (c.summary) { ?><?js= c.summary ?><?js } ?></dd>
				<?js }); ?></dl>
			</div>
		<?js } ?>

		<?js
			if (showNamespaces) {
		?>
			<div class="toc-section">
				<h4 class="subsection-title">Namespaces</h4>

				<dl><?js namespaces.forEach(function(n) { ?>
					<dt class="name"><a href="namespaces.html#<?js= n.longname ?>"><?js= self.linkto(n.longname, n.name) ?></a></dt>
					<dd><?js if (n.summary) { ?><?js= n.summary ?><?js } ?></dd>
				<?js }); ?></dl>
			</div>
		<?js } ?>

		<?js if(showMembers) { ?>
			<div class="toc-section">
				<h4>Members</h4>
				<ul>
				<?js members.forEach(function(m) { ?>
					<li class="name"><?js= self.linkto(m.longname, m.name) ?></li>
				<?js }); ?>
				</ul>
			</div>
		<?js } ?>

		<?js if(showMethods) { ?>
			<div class="toc-section">
				<h4>Methods</h4>
				<ul>
				<?js methods.forEach(function(m) { ?>
					<li class="name"><?js= self.linkto(m.longname, m.name) ?></li>
				<?js }); ?>
				</ul>
			</div>
		<?js } ?>

		<?js if(showTypedefs) { ?>
			<div class="toc-section">
				<h4>Typedefs</h4>
				<ul>
				<?js typedefs.forEach(function(t) { ?>
					<li class="name"><?js= self.linkto(t.longname, t.name) ?></li>
				<?js }); ?>
				</ul>
			</div>
		<?js } ?>

		<?js if(showEvents) { ?>
			<div class="toc-section">
				<h4>Events</h4>
				<ul>
				<?js events.forEach(function(e) { ?>
					<li class="name"><?js= self.linkto(e.longname, e.name) ?></li>
				<?js }); ?>
				</ul>
			</div>
		<?js } ?>
	</nav>
	<?js } ?>

    <?js
        if (showMembers) {
    ?>
        <h3 class="subsection-title">Members</h3>

        <dl><?js members.forEach(function(p) { ?>
            <?js= self.partial('members.tmpl', p) ?>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        if (showMethods) {
    ?>
        <h3 class="subsection-title">Methods</h3>

        <dl><?js methods.forEach(function(m) { ?>
            <?js= self.partial('method.tmpl', m) ?>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        if (showTypedefs) {
    ?>
        <h3 class="subsection-title">Type Definitions</h3>

        <dl><?js typedefs.forEach(function(e) {
                if (e.signature) {
            ?>
                <?js= self.partial('method.tmpl', e) ?>
            <?js
                }
                else {
            ?>
                <?js= self.partial('members.tmpl', e) ?>
            <?js
                }
            }); ?></dl>
    <?js } ?>

    <?js
        if (showEvents) {
    ?>
        <h3 class="subsection-title">Events</h3>

        <dl><?js events.forEach(function(e) { ?>
            <?js= self.partial('method.tmpl', e) ?>
        <?js }); ?></dl>
    <?js } ?>
</article>

</section>
<?js } ?>

<?js }); ?>
