<?js
var data = obj || {};
?>
<tr>
<td class="type">
<?js if (data.type && data.type.names) {?>
    <?js= this.partial('type.tmpl', data.type.names) ?>
<?js } ?>
</td>
<td class="description">
<?js
if (data.description) {
?>
    <?js= description ?>
<?js } ?>
</td>
</tr>
