<div class="search">
	<input id="search-query" type="text" placeholder="Search"/>
	<ul id="search-results">
		<?js search_index.forEach(function(d) { ?>
			<li class="search-result" data-longname="<?js= d[0] ?>"><a href="<?js= d[1] ?>"><?js= d[0] ?></a></li>
		<?js }) ?>
	</ul>
</div>
